{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
  {{ govukTag({
    classes: "govuk-tag--blue govuk-!-margin-bottom-4",
    text: "version 6"
  }) }}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
       {{serviceName}}<span class="govuk-caption-xl"></span>
      </h1>

      <a href="start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start now
      </a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Prototype data</h2>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Search results
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Company
              </dt>
              <dd class="govuk-summary-list__value">
                BIG SHOP LTD
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Officers
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                <a class="govuk-link govuk-link--no-visited-state" href="secretary">Paul Smith</a>
              </dt>
              <dd class="govuk-summary-list__value">
                Secretary
              </dd>
              <dd class="govuk-summary-list__value">
                <b>No IDV required</b>
              </dd>
            </div>
            <div>
              <dt class="govuk-summary-list__key">
              </dt>
              <dd class="govuk-summary-list__value">
              </dd>
              <dd class="govuk-summary-list__value">
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                <a class="govuk-link govuk-link--no-visited-state" href="director-one">Susan Robinson</a>
              </dt>
              <dd class="govuk-summary-list__value">
                Director
              </dd>
              <dd class="govuk-summary-list__value">
                <b>Due</b>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                <a class="govuk-link govuk-link--no-visited-state" href="director-two">Mark Robinson</a>
              </dt>
              <dd class="govuk-summary-list__value">
                Director
              </dd>
              <dd class="govuk-summary-list__value">
                <b>Verfied by individual</b>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                <a class="govuk-link govuk-link--no-visited-state" href="director-three">Lisa Franklin</a>
              </dt>
              <dd class="govuk-summary-list__value">
                Director
              </dd>
              <dd class="govuk-summary-list__value">
                <b>Verfied by ACSP</b>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                <a class="govuk-link govuk-link--no-visited-state" href="director-four">Carl Jackson</a>
              </dt>
              <dd class="govuk-summary-list__value">
                Director
              </dd>
              <dd class="govuk-summary-list__value">
                <b>Overdue</b>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                <a class="govuk-link govuk-link--no-visited-state" href="director-five">Steven Jackson</a>
              </dt>
              <dd class="govuk-summary-list__value">
                Director
              </dd>
              <dd class="govuk-summary-list__value">
                <b>Resigned</b>
              </dd>
            </div>
            <div>
              <dt class="govuk-summary-list__key">
              </dt>
              <dd class="govuk-summary-list__value">
              </dd>
              <dd class="govuk-summary-list__value">
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Dennis Hoop
              </dt>
              <dd class="govuk-summary-list__value">
                PSC
              </dd>
              <dd class="govuk-summary-list__value">
                <b>Due</b>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Isla Robinson
              </dt>
              <dd class="govuk-summary-list__value">
                PSC
              </dd>
              <dd class="govuk-summary-list__value">
                <b>Verfied by individual</b>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Heather Ferning
              </dt>
              <dd class="govuk-summary-list__value">
                PSC
              </dd>
              <dd class="govuk-summary-list__value">
                <b>Verfied by ACSP</b>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Jack Carlson
              </dt>
              <dd class="govuk-summary-list__value">
                PSC
              </dd>
              <dd class="govuk-summary-list__value">
                <b>Overdue</b>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Kate Mathews
              </dt>
              <dd class="govuk-summary-list__value">
                PSC
              </dd>
              <dd class="govuk-summary-list__value">
                <b>Resigned</b>
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <h2 class="govuk-heading-m" id="individualScreenLinks">Individual screen links</h2>

      <h2 class="govuk-heading-s" id="individualScreenLinks">Happy path</h2>
      <ul class="govuk-list govuk-list--bullet">
    
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="start">Start</a>
        </li> 
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="search-results">Search results</a>
        </li> 
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="company-info.html">Company info (verified tag)</a>
        </li> 
         <li>
          <a class="govuk-link govuk-link--no-visited-state" href="company-info-second-option.html">Company info second option, not in journey (verification requirements met tag)</a>
        </li> 
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="secretary.html">Secretary</a>
        </li> 
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="director-one">Director one</a>
        </li> 
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="director-two">Director two</a>
        </li> 
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="director-three">Director three</a>
        </li> 
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="director-three-multiple-aml">Director three (multiple AML bodies)</a>
        </li> 
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="director-four">Director four</a>
        </li> 
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="director-five">Director five</a>
        </li> 
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m" id="authScreens">Changes this version</h2>
      <ul class="govuk-list govuk-list--bullet">      
        <li>
          tbd
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m" id="authScreens">Journey flow</h2>
      <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1727270923649/8196f862ab1322744d60a688f34fc46dd23b9e3f?sender=u9bc72e5725f1871777091172">Flow diagram - tbd</a></p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m" id="authScreens">User research</h2>
      <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" target="_blank" href="">tbd</a></p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">
    </div>
  </div>





{% endblock %}
