{% extends "layouts/main.html" %}
{% set pageName="Confirm presenter statements" %}

{% block beforeContent %}
{% include "/includes/phase-banner.html" %}
{% include "/includes/back-link-language-toggle.html" %}
{% include "/includes/user-bar.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <form action="{{currentUrl}}" method="post">


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="statements-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                 Confirm your details and role
              </h1>
            </legend>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <!-- ACSP -->
                {% if data['presenterType'] == "acsp" %}

                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Your email address
                    </dt>
                    <dd class="govuk-summary-list__value">
                      james.morgan@outlook.co.uk
                    </dd>
   
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      ACSP name
                    </dt>
                    <dd class="govuk-summary-list__value">
                      MORGAN ACCOUNTING ACSP
                    </dd>
   
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      ACSP number
                    </dt>
                    <dd class="govuk-summary-list__value">
                     0225687
                    </dd>
                  </div>
                </dl>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="statements" name="statements" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label" for="statements">
                    <p> I, James Morgan, confirm:</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>I'm an Authorised Corporate Service Provider (ACSP), or an officer, employee or authorised representative of an ACSP</li>
                      <li>I am delivering a filing on behalf of NR1 TRADINGS LTD</li>
                      <li>my ACSP details are correct</li>
                    </ul>
                  </label>
                </div>

                <div class="govuk-inset-text">
                  <b>What information we'll show on the public register</b>

                  <p>We'll store your details to record that you submitted this filing.</p>

                  <p>None of this information will be shown on the public register.</p>
                </div>


                <!-- acspEmployee -->
                {% elif data['presenterType'] == "acspEmployee" %} 
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Your email address
                    </dt>
                    <dd class="govuk-summary-list__value">
                      james.morgan@outlook.co.uk
                    </dd>
   
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      ACSP name
                    </dt>
                    <dd class="govuk-summary-list__value">
                      MORGAN ACCOUNTING ACSP
                    </dd>
   
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      ACSP number
                    </dt>
                    <dd class="govuk-summary-list__value">
                     0225687
                    </dd>
                  </div>
                </dl>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="statements" name="statements" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label" for="statements">
                    <p> I, James Morgan, confirm:</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>I'm an officer, employee or authorised representative of an Authorised Corporate Service Provider (ACSP)</li>
                      <li>I am delivering a filing on behalf of NR1 TRADING LTD</li>
                      <li>my ACSP details are correct</li>
                    </ul>
                  </label>
                </div>

                <div class="govuk-inset-text">
                  <b>What information we'll show on the public register</b>

                  <p>We'll store your details to record that you submitted this filing.</p>

                  <p>None of this information will be shown on the public register.</p>
                </div>

                <!-- officer or employee -->
                {% elif data['presenterType'] == "officer" %} 
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                      James Morgan
                    </dd>
   
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                     2 September 1990
                    </dd>
                  </div>
                </dl>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="statements" name="statements" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label" for="statements">
                    <p> I, James Morgan, confirm:</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>I'm an officer or employee of NR1 TRADINGS LTD</li>
                      <li>I am delivering a filing on behalf of NR1 TRADING LTD</li>
                      <li>my details are correct, and my identity is verified</li>
                    </ul>
                  </label>
                </div>

                <div class="govuk-inset-text">
                  <b>What information we'll show on the public register</b>

                  <p>We'll store your details to record that you submitted this filing.</p>

                  <p>None of this information will be shown on the public register.</p>
                </div>


                <!-- corporate employee or officer -->
                {% elif data['presenterType'] == "corporateGroup" %} 
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                      James Morgan
                    </dd>
   
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                     2 September 1990
                    </dd>
                  </div>
                </dl>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="statements" name="statements" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label" for="statements">
                    <p> I, James Morgan, confirm:</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>I'm an officer or employee of a firm that's a group undertaking of NR1 TRADINGS LTD</li>
                      <li>I am delivering a filing on behalf of NR1 TRADING LTD</li>
                      <li>my details are correct, and my identity is verified</li>
                    </ul>
                  </label>
                </div>

                <div class="govuk-inset-text">
                  <b>What information we'll show on the public register</b>

                  <p>We'll store your details to record that you submitted this filing.</p>

                  <p>None of this information will be shown on the public register.</p>
                </div>


                <!-- Filing for myself -->
                {% elif data['presenterType'] == "corporateOfficer" %} 
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                      James Morgan
                    </dd>
   
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                     2 September 1990
                    </dd>
                  </div>
                </dl>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="statements" name="statements" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label" for="statements">
                    <p> I, James Morgan, confirm:</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>I'm a corporate officer (officer or employee) of NR1 TRADINGS LTD, or of a firm that's a group undertaking of NR1 TRADINGS LTD</li>
                      <li>I am delivering a filing on behalf of NR1 TRADING LTD</li>
                      <li>my details are correct, and my identity is verified</li>
                    </ul>
                  </label>
                </div>

                <div class="govuk-inset-text">
                  <b>What information we'll show on the public register</b>

                  <p>We'll store your details to record that you submitted this filing.</p>

                  <p>None of this information will be shown on the public register.</p>
                </div>



                <!-- Filing for someone else -->
                {% elif data['presenterType'] == "judicialFactor" %} 
                <dl class="govuk-summary-list">

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                      James Morgan
                    </dd>
   
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                     2 September 1990
                    </dd>
                  </div>
                </dl>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="statements" name="statements" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label" for="statements">
                    <p> I, James Morgan, confirm:</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>I'm a judicial factor appointed on behalf of NR1 TRADINGS LTD</li>
                      <li>I am delivering a filing on behalf of NR1 TRADING LTD</li>
                      <li>my details are correct, and my identity is verified</li>
                    </ul>
                  </label>
                </div>

                <div class="govuk-inset-text">
                  <b>What information we'll show on the public register</b>

                  <p>We'll store your details to record that you submitted this filing.</p>

                  <p>None of this information will be shown on the public register.</p>
                </div>
                {% endif %} 
            </div>
          </fieldset>
        </div>

      <button class="govuk-button" data-module="govuk-button">
        Confirm and continue
      </button> 
    </form>

  </div>
</div>

{% endblock %}
