{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
  {{ govukTag({
    classes: "govuk-tag--blue govuk-!-margin-bottom-4",
    text: "version 1"
  }) }}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
       {{serviceName}}<span class="govuk-caption-xl"></span>
      </h1>

      <a href="start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start now
      </a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Prototype data</h2>

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Happy path
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <div class="govuk-summary-card">
              <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                  Search results
                </h2>
              </div>
              <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Company
                    </dt>
                    <dd class="govuk-summary-list__value">
                      BIG SHOP LTD
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h2 class="govuk-heading-l" id="individualScreenLinks">Individual screen links</h2>

      <h2 class="govuk-heading-s" id="individualScreenLinks">Happy path</h2>
      <ul class="govuk-list govuk-list--bullet">
    
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="start">Start</a>
        </li> 
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="search-results">Search results</a>
        </li> 
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="company-info">Company information</a>
        </li> 
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="officer-one">Officer one</a>
        </li> 
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="officer-two">Officer two</a>
        </li> 
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-l" id="authScreens">Journey flow</h2>
      <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1727270923649/8196f862ab1322744d60a688f34fc46dd23b9e3f?sender=u9bc72e5725f1871777091172">V1 flow diagram</a></p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">
    </div>
  </div>





{% endblock %}
