{% extends "layouts/main.html" %}
{% set pageName="What type of presenter are you?" %}

{% block beforeContent %}
{% include "/includes/phase-banner.html" %}
{% include "/includes/back-link-language-toggle.html" %}
{% include "/includes/user-bar.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorPresenterType %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}


    <form action="{{currentUrl}}" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="presenterType-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What is your role in this filing?
            </h1>
          </legend>

          <div class="govuk-radios" data-module="govuk-radios">

            <!-- ACSP doing a company filing -->
            {% if data['scenarios'] == 'acsp_linked' %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="presenterType-1" name="presenterType" type="radio" value="acsp">
              <label class="govuk-label govuk-radios__label" for="presenterType-1">
                I'm an Authorised Corporate Service Provider (ACSP)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="presenterType-2" name="presenterType" type="radio" value="acspEmployee">
              <label class="govuk-label govuk-radios__label" for="presenterType-2">
                I'm an officer, employee or authorised representative of an ACSP
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="presenterType-3" name="presenterType" type="radio" value="officer">
              <label class="govuk-label govuk-radios__label" for="presenterType-3">
                I'm an officer or employee of NR1 TRADINGS LTD
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="presenterType-4" name="presenterType" type="radio" value="corporateGroup">
              <label class="govuk-label govuk-radios__label" for="presenterType-4">
                I'm an officer or employee of a company in the same corporate group as NR1 TRADINGS LTD
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="presenterType-5" name="presenterType" type="radio" value="corporateOfficer">
              <label class="govuk-label govuk-radios__label" for="presenterType-5">
                I'm a corporate officer (officer or employee) of either NR1 TRADINGS LTD, or a firm that's a group undertaking of NR1 TRADINGS LTD
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="presenterType-6" name="presenterType" type="radio" value="judicialFactor">
              <label class="govuk-label govuk-radios__label" for="presenterType-6">
                I'm a judical factor appointed on behalf of NR1 TRADINGS LTD
              </label>
            </div>


            <!-- Sole trader ACSP doing a company filing -->
            {% elif data['scenarios'] == 'not_linked' %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="presenterType-3" name="presenterType" type="radio" value="officer">
              <label class="govuk-label govuk-radios__label" for="presenterType-3">
                I'm an officer or employee of NR1 TRADINGS LTD
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="presenterType-4" name="presenterType" type="radio" value="corporateGroup">
              <label class="govuk-label govuk-radios__label" for="presenterType-4">
                I'm an officer or employee of a company in the same corporate group as NR1 TRADINGS LTD
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="presenterType-5" name="presenterType" type="radio" value="corporateOfficer">
              <label class="govuk-label govuk-radios__label" for="presenterType-5">
                I'm a corporate officer (officer or employee) of either NR1 TRADINGS LTD, or a firm that's a group undertaking of NR1 TRADINGS LTD
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="presenterType-6" name="presenterType" type="radio" value="judicialFactor">
              <label class="govuk-label govuk-radios__label" for="presenterType-6">
                I'm a judical factor appointed on behalf of NR1 TRADINGS LTD
              </label>
            </div>
            {% endif %}
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>

  </div>
</div>


{% endblock %}